<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>PlanServlet</servlet-name>
		<display-name>PlanServlet</display-name>
		<description></description>
		<servlet-class>com.Servlets.PlanServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<display-name>DeleteServlet</display-name>
		<description></description>
		<servlet-class>com.Servlets.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MoveToDoing</servlet-name>
		<display-name>MoveToDoing</display-name>
		<description></description>
		<servlet-class>com.Servlets.MoveToDoing</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MoveToDone</servlet-name>
		<display-name>MoveToDone</display-name>
		<description></description>
		<servlet-class>com.Servlets.MoveToDone</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlanServlet</servlet-name>
		<url-pattern>/PlanServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MoveToDoing</servlet-name>
		<url-pattern>/MoveToDoing</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MoveToDone</servlet-name>
		<url-pattern>/MoveToDone</url-pattern>
	</servlet-mapping>
</web-app>
